@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px !important;
}
input {
  font-weight: 500;
  font-size: 15px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #c2c3cb;
  padding: 18px 22px;
  background-color: #EDEDED;
  border-radius: 10px;
  text-align: center;
  border: 0;
}
.button {
    padding: 16px 24px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    border: 0;
    transition: all 1s ease;
}
.button:hover {
    color: #000;
    background: #fff;
    border: 2px solid #000;
}
ul {
  display: flex;
  gap: 53px;
}
ul li {
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  text-transform: uppercase;
  color: #606060;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.nfts {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.container > h1 {
  font-size: 50px;
  color: #2d2d2d;
  text-shadow: #cccc 1px 1px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters > button {
  font-size: 17px;
  padding: 5px;
  width: 90px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.filters > input,
select {
  padding: 5px;
  width: 120px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  outline: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.text {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.product img {
  margin-bottom: 10px;
}
